container_commands:
  01_config:
    command: "rm -rf /etc/vsftpd/vsftpd.conf"
    ignoreErrors: true
    leader_only: true
  02_config:
    command: "mv .ebextensions/vsftpd.conf /etc/vsftpd/vsftpd.conf"
    ignoreErrors: true
    leader_only: true
  03_config:
    command: "chown root:root /etc/vsftpd/vsftpd.conf"
    ignoreErrors: true
    leader_only: true
  04_config:
    command: "chmod 600 /etc/vsftpd/vsftpd.conf"
    ignoreErrors: true
    leader_only: true
  05_restart:
    command: "service vsftpd restart"
    ignoreErrors: true
    leader_only: true
  06_addpasv:
    command: "echo pasv_address=$(curl http://169.254.169.254/2009-04-04/meta-data/public-ipv4) >> /etc/vsftpd/vsftpd.conf"
    ignoreErrors: true
    leader_only: true
