files:
  "/tmp/useradd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /usr/sbin/useradd cw-atlas
      /usr/sbin/useradd cw-dai
      /usr/sbin/useradd cw-fastco
      /usr/sbin/useradd cw-keystone
      /usr/sbin/useradd cw-lavoie
      /usr/sbin/useradd cw-mht
      /usr/sbin/useradd cw-rtb
      /usr/sbin/useradd cw-tsw
      /usr/sbin/useradd cw-wheelgroup
      /usr/sbin/useradd cw-wheelpros
      /usr/sbin/useradd cw-fgroup
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Atlas cw-atlas
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Dai cw-dai
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Fastco cw-fastco
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Keystone cw-keystone
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Lavoie cw-lavoie
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Mht cw-mht
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Rtb cw-rtb
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Tsw cw-tsw
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Wheelgroup cw-wheelgroup
      /usr/sbin/usermod -m -d /efs/Resync-Csv/Wheelpros cw-wheelpros
      /usr/sbin/usermod -m -d /efs/fgroup cw-fgroup
      echo atlasq11! | /usr/bin/passwd cw-atlas --stdin
      echo daiw22! | /usr/bin/passwd cw-dai --stdin
      echo fastcor44! | /usr/bin/passwd cw-fastco --stdin
      echo keystonee33! | /usr/bin/passwd cw-keystone --stdin
      echo lavoiet55 | /usr/bin/passwd cw-lavoie --stdin
      echo mhty66! | /usr/bin/passwd cw-mht --stdin
      echo rtbu77! | /usr/bin/passwd cw-rtb --stdin
      echo tswi88! | /usr/bin/passwd cw-tsw --stdin
      echo wheelgroupo99! | /usr/bin/passwd cw-wheelgroup --stdin
      echo wheelprosp00! | /usr/bin/passwd cw-wheelpros --stdin
      echo fgroupa12! | /usr/bin/passwd cw-fgroup --stdin
      /usr/sbin/groupadd ftpgroup
      /usr/sbin/usermod -a -G ftpgroup cw-atlas
      /usr/sbin/usermod -a -G ftpgroup cw-dai
      /usr/sbin/usermod -a -G ftpgroup cw-fastco
      /usr/sbin/usermod -a -G ftpgroup cw-keystone
      /usr/sbin/usermod -a -G ftpgroup cw-lavoie
      /usr/sbin/usermod -a -G ftpgroup cw-mht
      /usr/sbin/usermod -a -G ftpgroup cw-rtb
      /usr/sbin/usermod -a -G ftpgroup cw-tsw
      /usr/sbin/usermod -a -G ftpgroup cw-wheelgroup
      /usr/sbin/usermod -a -G ftpgroup cw-wheelpros
      /usr/sbin/usermod -a -G ftpgroup cw-fgroup
      chown -R root:ftpgroup /efs/Resync-Csv/
      chown -R root:ftpgroup /efs/fgroup/
      chmod -R 775 /efs/Resync-Csv/
      chmod -R 775 /efs/fgroup/
      /sbin/service vsftpd restart
      /sbin/chkconfig --level 345 vsftpd on
      /sbin/service vsftpd restart

container_commands:
  01_user:
    command: "/tmp/useradd.sh"
    ignoreErrors: true
    leader_only: true
